.app-container{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}

.website-logo-image{
    height: 60px;
    width: 240px;
    margin: 10px;
}

.nav-container{
    display: flex;
    margin: 10px;
}

.nav-items{
    margin: 10px;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
}

.nav-button{
    background-color: rgb(60, 60, 242);
    border: 0px solid rgb(41, 41, 255);
    width: 10%;
    padding:20px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    outline: none;
    color: white;
    font-size: 18px;
}

.link-text{
    text-decoration: none;
}

@media screen and (max-width:768px){
    .nav-items{
        font-size: 16px;
    }
    .website-logo-image{
        height: 60px;
        width: 180px;
    }
    .app-container{
        width: 100vw;
    }
    .website-logo-image{
        margin: 5px;
    }
    .nav-items{
        margin: 5px;
    }
}